<label for="financialyear" class="col-sm-4 control-label" style="font-weight:normal;">Select Location</label>
<div class="col-sm-5">
  <%= select_tag "location_id", options_from_collection_for_select(@locations, "id", "name"), :class => "form-control validate[required]" %>
</div>
<% if @locations.blank?%>
  <label for="financialyear" class="col-sm-4 control-label"></label>
  <div class="col-sm-8" style="color:blue;">
    Save location for this financial year first 
    <a href="javascript:void(0)" onclick="$('#set_dialog').fadeOut('slow');
        $('#save_dialog').addClass('in');
        $('#save_dialog').show('slow');">click here</a>
  </div>
<%end%>
