<div class="form-group"> 
  <label for="inputEmail3" class="col-sm-1 control-label">Start Date</label>
  <div class="col-sm-2">    
    <%= text_field_tag "start_date", '', :class => "form-control datepicker validate[required]", readonly: true %>    
  </div>

  <label for="inputEmail3" class="col-sm-1 control-label">End Date</label>
  <div class="col-sm-2">    
    <%= text_field_tag "end_date", '', :class => "form-control datepicker validate[required]", readonly: true %>    
  </div>
  
  <label for="inputEmail3" class="col-sm-1 control-label">Location</label>
  <div class="col-sm-2">
    <%= select_tag "location_id", options_from_collection_for_select(@locations, "id", "name", current_location.id), :class => "form-control validate[required]" %>
  </div>

  <label for="inputEmail3" class="col-sm-1 control-label">Outlet</label>
  <div id="outlet_select">
    <%= render partial: 'shared/outlets_select' %>
  </div>
</div>