<% unless @entries.blank? %>
  <div class="table-responsive" data-pattern="priority-columns">
    <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
      <thead>
        <tr>
          <th>Item Group</th>
          <th>Order Kot</th>
          <th>Tag</th>
        </tr>
      </thead>
      <tbody>          
        <%@entries.each do |entry|%>
          <tr>
            <td><%= entry.ig_name%></td>
            <td><%= entry.order_kot%></td>
            <td><%= entry.ig_tag%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>

  <div class="" style="text-align:center;">
    <%= will_paginate @entries, params: {location: params[:location]}, class: 'pagination-sm', renderer: BootstrapPagination::Rails %>
    </div>
  <%else%>
    <br/><br/>
    No Item Group Found!!!
  <%end%>
  <script type="text/javascript">
    responsive_table(true);
  </script>