<% unless @entries.blank? %>
  <div class="table-responsive" data-pattern="priority-columns">
    <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Outlet</th>        
          <th>Service Charge</th>        

        </tr>
      </thead>
      <tbody>          
        <%@entries.each do |entry|%>
          <tr>
            <td><%= entry.w_name%></td>
            <td><%= entry.outlet.name if entry.outlet%></td>
            <td><%= entry.service_charge%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>

  <div class="" style="text-align:center;">
    <%= will_paginate @entries, params: {location_id: params[:location_id], outlet_id: params[:outlet_id]}, class: 'pagination-sm', renderer: BootstrapPagination::Rails %>
    </div>
  <%else%>    
    No Waiter Found!!!
  <%end%>
  <script type="text/javascript">
    responsive_table(true);
  </script>