<h2 class="sub-header">Product Wise Sale Report</h2>

<%= form_tag product_wise_sale_clients_reports_path, role: "form", class: "form-horizontal", id: "formID", remote: true do %>
    <%= render partial: "shared/report_header" %>
    <div class="col-sm-1">    
      <%= submit_tag "Generate", class: "btn btn-primary import_button" %>
      </div>
    <%end%>

    <div id="product_wise_sale"></div>