<h2 class="sub-header">Sale Report</h2>

<%= form_tag sale_clients_reports_path, role: "form", class: "form-horizontal", id: "formID", remote: true do %>
    <%= render partial: "shared/report_header" %>
    <div class="col-sm-1">    
      <%= submit_tag "Generate", class: "btn btn-primary" %>
      </div>
    <%end%>


<div id="sale"></div>